---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline="Ici vous en apprendrez plus sur mon parcours"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
 Je suis passionné par l'informatique et actuellement en troisième année de Bachelor Universitaire de Technologie en Génie Informatique. J'ai développé une expertise solide en technologies web. J'ai réalisé des projets en HTML, CSS, JavaScript, Vue.js, Bootstrap pour le front, mais aussi PHP, Laravel, C++, C# et Python pour le back-end.
					</p>
					</br>
					<p>
					En plus de mes projets, j'ai participé à la compétition régionale Worldskills en 2023 pour le métier de développeur web. Je maîtrise également la création et la manipulation d'API. Actuellement, je cherche une alternance pour perfectionner mes compétences en développement web, et pour contribuer à une entreprise innovante.
				    </p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>- Baccalauréat européen (Anglais) mention TB obtenu au lycée Jean Monnet de Crepy-En-Valois en 2022</p>
					</br>
					<p>- Certification du Cambridge (Anglais)</p>
					</br>
                   <p>- Bachelor universitaire de technologie (3ème année en cours) à Amiens</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Sociable, Force de proposition, Volonté d'apprendre en continue, Autonome, Travail d'équipe</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
